*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body{
    height: 100vh;
    font-family: Arial;
    color: white;
}

.bi-caret-down, .bi-caret-down-fill, .bi-caret-left, .bi-caret-left-fill{
    color:  rgb(255, 230, 0);
}



/* === LOGO === */
h1{
    margin-left: 30px;
    padding-top: 10px;
}

h1 a{
    color: rgb(255, 230, 0);
    text-decoration: none;
}
/* === END LOGO === */



/* === SOCIALS === */
.socials{
    position: absolute;
    text-align: center;
    width: fit-content;
    font-size: 20px;
    margin: 0 35px;
    margin-top: 10px;
}

.socials ul{
    list-style: none;
}

.socials ul li{
    margin-top: 35px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.socials ul li:hover{
    top: 5px;
}

.socials ul li a{
    padding: 5px;
    color: rgb(255, 230, 0);
}
/* === END SOCIALS === */




/* === NAVMENU === */
.navmenu{
    position: absolute;
    text-align: center;
    text-align: center;
    width: fit-content;
    font-size: 20px;
    margin: 0 10px;
    right: 0;
}

.navmenu ul{
    list-style: none;
}

.navmenu ul li{
    padding: 5px;
    display: inline;
    margin-right: 35px;
    position: relative;
    right: 0;
    transition: right ease 0.3s;
}

.navmenu ul li:hover{
    right: 5px;
}

.navmenu ul li a{
    text-decoration: none;
    color: rgb(255, 230, 0);
}
/* === END NAVMENU === */


/* === SCREEN === */
.screen{
    position: absolute;
    background: none;
    width: calc(100vw - 200px);
    height: calc(100vh - 120px);
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid white;
}
/* === END SCREEN === */

